#score {
  color: #fff;
}
#score > header {
  margin-bottom: 1rem;
}
#score > section {
  width: 100%;
  height: 22rem;
  overflow-x: hidden;
  overflow-y: visible;
}
#score > section table {
  margin: 1rem auto;
  width: 100%;
}
#score > section table td {
  color: #fff;
  font-size: 1.2rem;
}
#score > section table td:first-child {
  padding-left: 1rem;
  text-align: left;
}
#score > section table td:last-child {
  padding-right: 1rem;
  text-align: right;
}
@media (max-width: 540px) {
  #score section {
    display: none;
  }
}
