{
  "extends": "airbnb/base",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "globals": {},
  "rules": {
    "global-require": "off",
    "no-bitwise": "error",
    "camelcase": "error",
    "curly": ["error", "all"],
    "eqeqeq": "off",
    "guard-for-in": "off",
    "wrap-iife": "error",
    "indent": ["error", 2, { "SwitchCase": 1 } ],
    "no-use-before-define": "off",
    "new-cap": "off",
    "no-caller": "error",
    "no-empty": "error",
    "no-new": "error",
    "no-plusplus": "off",
    "quotes": ["error", "single"],
    "no-undef": "off",
    "no-unused-vars": "off",
    "strict": "off",
    "max-params": "off",
    "max-depth": ["error", 4],
    "max-statements": ["error", 13],
    "complexity": ["error", 6],
    "max-len": "off",
    "semi": ["error", "always"],
    "no-console": "off",
    "no-cond-assign": "off",
    "no-debugger": "off",
    "no-eq-null": "off",
    "no-eval": "off",
    "no-unused-expressions": "off",
    "block-scoped-var": "off",
    "no-iterator": "off",
    "linebreak-style": "off",
    "comma-style": ["error", "last"],
    "no-loop-func": "off",
    "no-multi-str": "error",
    "no-proto": "off",
    "no-script-url": "off",
    "no-shadow": "off",
    "dot-notation": "error",
    "no-new-func": "off",
    "no-new-wrappers": "off",
    "no-invalid-this": "off",
    "space-before-blocks": ["error", "always"],
    "one-var": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "yoda": ["error", "never"],
    "consistent-this": ["error", "that"],
    "eol-last": "error",
    "brace-style": "error",
    "comma-dangle": ["error", "never"],
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "error",
    "object-curly-spacing": ["error", "never"],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-alert": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/prefer-default-export": "off"
  }
}
