{
  "lines": 85,
  "statements": 85,
  "functions": 80,
  "branches": 70,
  "require": [
    "babel-core/register"
  ],
  "reporter": [
    "text-summary"
  ],
  "cache": true,
  "all": false,
  "check-coverage": true,
  "report-dir": "./.reports/nyc"
}
