<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boggle</title>

  <link href="app/app.css" rel="stylesheet">

  <!-- vendors -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/underscore/underscore-min.js"></script>

  <!-- app -->
  <script src="app/helper.js"></script>
  <script src="app/dictionary.js"></script>
  <script src="app/board.js"></script>
  <script src="app/attempt.js"></script>
  <script src="app/control.js"></script>
  <script src="app/score.js"></script>
  <script src="app/timer.js"></script>
  <script src="app/app.js"></script>

  <!-- init game -->
  <script>
  var app;
  $(function () {
    app = new App();
    app.render();
  });
  </script>
</head>

<body>

  <!-- app -->
  <main>
    <header>
      <h1>Boggle</h1>
    </header>

    <section>
      <div id="attempt"></div>
      <div id="board"></div>
      <div id="score"></div>
      <div id="clock"></div>
      <div id="control"></div>
    </section>
  </main>

  <!-- templates -->
  <div id="templates">
    <script id="board-template" type="text/x-template">
      <table>
        <% _.forEach(board, function (row) { %>
        <tr>
          <% _.forEach(row, function (cell) { %>
            <td><%=cell%></td>
          <% }); %>
        </tr>
        <% }); %>
      </table>
    </script>

    <script id="score-template" type="text/x-template">
      <header>
        <h2>Score: <%=counter%></h2>
      </header>
      <section>
        <table>
        <% _.forEach(attempts, function (attempt) { %>
          <tr>
            <td><%=attempt.word%></td>
            <td><%=attempt.score%></td>
          </tr>
        <% }); %>
        </table>
      </section>
    </script>

    <script id="clock-template" type="text/x-template">
      <span>00:<%=(secs<10?'0'+secs:secs)%></span>
    </script>

    <script id="attempt-template" type="text/x-template">
      <input type="text" onkeyup="app.checkOnEnter(event)" <%= (started ? '' : 'disabled') %> />
    </script>

    <script id="control-template" type="text/x-template">
      <% if (started) { %>
        <button onclick="app.stop();">stop</button>
      <% } else { %>
        <button onclick="app.start();">start</button>
      <% } %>
    </script>
  </div>

  <a href="https://github.com/lquixada/boggle">
    <img style="position: absolute; top: 0; right: 0; border: 0;" alt="Fork me on GitHub"
    src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" />
  </a>
</body>

</html>
