<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boggle</title>
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/index.js"></script>
  <script>
  $(function () {
    app.render(board);
  });
  </script>
</head>

<body>

  <main>
    <header>
      <h1>Boggle</h1>
    </header>

    <section>
      <input type="text" onkeyup="app.checkOnEnter(event)" />
      <div id="board"></div>
      <ul id="scores"></ul>
      <span id="counter"></span>
      <button onclick="app.start();">start</button>
    </section>
  </main>

  <script id="template" type="text/x-template">
    <table>
      <% _.forEach(board, function (row) { %>
      <tr>
        <% _.forEach(row, function (cell) { %>
          <td><%=cell%></td>
        <% }); %>
      </tr>
      <% }); %>
    </table>
  </script>

</body>

</html>
