@import './app';

.about {
  width: 100%;
  font-size: 1.3rem;
  color: #999;

  h2 {
    margin-bottom: 1rem;
    color: #ddd;
  }

  .box {
    margin: 0 1rem .5rem 0;
    float: left;

    img {
      margin: 1rem;
      width: 10rem;
      height: 10rem;
    }
  }

  p {
    margin-bottom: 1rem;
  }
}
