@import '_mixins';

#input {
  @include flex(1 1 auto);
  margin-left: 2rem;

  input {
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    border-radius: .4rem;

    &:disabled {
      opacity: .5;
    }
  }
}

@media (max-width: 540px) {
  #input {
    @include flex(1 1 100%);
    @include flex-order(2);
    margin: 1rem 0 0;
  }
}
