* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
html,
body {
  background-color: #484848;
  height: 100%;
}
main > header {
  padding: 2rem;
  text-align: center;
  background-color: #565656;
}
h1 {
  display: inline-flex;
  color: #cacaca;
  font-size: 3rem;
}
