/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #fff;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
html,
body {
  background-color: #484848;
  height: 100%;
}
img {
  border: none;
}
#game {
  height: 100%;
}
#game > div {
  height: 100%;
}
/* Grid */
.container {
  max-width: 54rem;
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: flex-start;
  -ms-flex-align: start;
}
@media (max-width: 800px) {
  .ribbon {
    display: none;
  }
}
/* Components */
.box {
  background-color: #404040;
  border: .1rem solid;
  border-radius: .5rem;
  border-color: #303030 #505050 #505050 #303030;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
::-webkit-scrollbar-button {
  display: none;
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background-color: #000;
}
.about {
  font-size: 1.3rem;
  color: #999;
}
.about h2 {
  margin-bottom: 1rem;
  color: #ddd;
}
.about .box {
  margin: 0 1rem .5rem 0;
  float: left;
}
.about .box img {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
}
.about p {
  margin-bottom: 1rem;
}
main {
  min-width: 35rem;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column nowrap;
  -ms-flex-direction: column;
  -ms-flex-wrap: none;
}
main > header {
  display: flex;
  display: -ms-flexbox;
  flex: none;
  -ms-flex: none;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 2rem;
  background-color: #565656;
}
main > header h1 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: -0.1rem;
  line-height: 1.5;
  text-shadow: 0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}
main > header h1 a {
  color: inherit;
  text-decoration: none;
}
main > section {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 2rem;
  flex: 1 0 auto;
  -ms-flex: 1 0 auto;
}
main > section aside {
  vertical-align: top;
}
main > footer {
  display: flex;
  display: -ms-flexbox;
  flex: none;
  -ms-flex: none;
  justify-content: center;
  -ms-flex-pack: center;
  padding: 2rem;
  color: #999;
  font-size: 1.2rem;
  background-color: #565656;
}
main > footer a {
  display: inline-block;
  color: #999;
}
main > footer .copyright {
  flex: 3 0;
  -ms-flex: 3 0;
  line-height: 2rem;
}
main > footer .copyright .build-status {
  opacity: .5;
  vertical-align: middle;
  height: 1.8rem;
  margin-left: .5rem;
  -webkit-filter: grayscale(100%);
}
main > footer .copyright .build-status:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}
main > footer .social {
  flex: 1 0;
  -ms-flex: 1 0;
}
main > footer .social ul {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
main > footer .social li {
  margin-left: 1rem;
  list-style: none;
}
main > footer .social a img {
  width: 2rem;
  height: 2rem;
  opacity: .3;
  vertical-align: middle;
}
main > footer .social a img:hover {
  opacity: .7;
}
@media (max-width: 540px) {
  main > header .container {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  main > section .container {
    flex-direction: column;
    -ms-flex-direction: column;
  }
  main > section aside {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -ms-flex-pack: justify;
    margin: 0;
    width: 100%;
  }
}
#attempt input {
  width: 100%;
  min-width: 28rem;
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  border-radius: .4rem;
}
#attempt input:disabled {
  opacity: .5;
}
@media (max-width: 540px) {
  #attempt {
    margin-top: 1rem;
    flex-basis: 100%;
    order: 2;
    -ms-flex-order: 2;
    -ms-flex-preferred-size: 100%;
  }
}
#board {
  padding: 1rem;
}
#board td {
  width: 9rem;
  height: 9rem;
  color: #333;
  font-size: 4rem;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: .4rem;
}
@media (max-width: 540px) {
  #board {
    width: 100%;
  }
  #board table {
    width: 100%;
  }
}
#button button {
  padding: 1rem;
  min-width: 10rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  outline: none;
  border-radius: .4rem;
  background-color: #6c6;
  box-sizing: border-box;
}
#button button:hover {
  background-color: #6c6;
  text-decoration: none !important;
}
#button button:active {
  background-color: #286f23;
  -webkit-box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
#clock {
  margin-bottom: 2rem;
}
#clock .clock {
  fill: transparent;
  stroke-width: 20;
}
#clock .clock.clock-gray {
  stroke: #666;
}
#clock .clock.clock-green {
  stroke: #6c6;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  transition: stroke-dashoffset 0s;
}
#clock .clock.clock-green.running {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 60s linear;
}
#clock .counter {
  fill: #fff;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
#clock .micro-counter {
  display: none;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 540px) {
  #clock {
    margin-bottom: auto;
  }
  #clock svg {
    display: none !important;
  }
  #clock .micro-counter {
    display: block;
  }
}
#score {
  color: #fff;
}
#score > header {
  margin-bottom: 1rem;
}
#score > section {
  width: 100%;
  height: 22rem;
  overflow-x: hidden;
  overflow-y: visible;
}
#score > section table {
  margin: 1rem auto;
  width: 100%;
}
#score > section table td {
  color: #fff;
  font-size: 1.2rem;
}
#score > section table td:first-child {
  padding-left: 1rem;
  text-align: left;
}
#score > section table td:last-child {
  padding-right: 1rem;
  text-align: right;
}
@media (max-width: 540px) {
  #score section {
    display: none;
  }
}
