main {
  min-width: 35rem;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-flow: column nowrap;
  -ms-flex-direction: column;
  -ms-flex-wrap: none;

  > header {
    padding: 2rem;
    background-color: #565656;

    h1 {
      display: inline-block;
      margin-right: 1.2rem;
      color: #fff;
      font-size: 3rem;
      letter-spacing: -.1rem;
      line-height: 1.5;
      text-shadow: .2rem .4rem .3rem rgba(0, 0, 0, 0.3);
      vertical-align: middle;
    }
  }

  > section {
    padding: 2rem;
    flex: 1 0;
    -ms-flex: 1 0;

    aside {
      display: inline-block;
      margin-right: 2rem;
      vertical-align: top;
    }
  }

  > footer {
    padding: 2rem;
    color: #999;
    font-size: 1.2rem;
    background-color: #565656;

    .container {
      display: flex;
      display: -ms-flexbox;
    }

    a {
      display: inline-block;
    }

    .copyright {
      flex: 3 0;
      -ms-flex: 3 0;
      line-height: 2rem;

      .build-status {
        opacity: .5;
        vertical-align: middle;
        height: 1.8rem;
        margin-left: .5rems;
        -webkit-filter: grayscale(100%);

        &:hover {
          opacity: 1;
          -webkit-filter: grayscale(0%);
        }
      }
    }

    .social {
      flex: 1 0;
      -ms-flex: 1 0;

      ul {
        display: flex;
        display: -ms-flexbox;
        justify-content: flex-end;
        -ms-flex-pack: end;
      }

      li {
        margin-left: 1rem;
        list-style: none;
      }

      a {
        color: #999;

        img {
          width: 2rem;
          height: 2rem;
          opacity: .3;
          vertical-align: middle;

          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  main {
    > section {
      aside {
        display: block;
        margin: 0;
      }
    }
  }
}
