@import '_mixins';

#board {
  @include flex(3.3);
  margin-left: 2rem;
  padding: 1rem;
  height: 40rem;

  table {
    width: 100%;
  }

  td {
    width: 9rem;
    height: 9rem;
    color: #333;
    font-size: 4rem;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: .4rem;
  }
}


@media (max-width: 540px) {
  #board {
    margin: 0;
    width: 100%;
  }
}
