@import '_mixins';

#clock {
  margin-bottom: 2rem;
  @include flex(1);

  svg {
    width: 100%;
    height: auto;
  }

  .clock {
    fill: transparent;
    stroke-width: 15;

    &.clock-gray {
      stroke: #666;
    }

    &.clock-green {
      stroke: #6c6;
      stroke-dasharray: 251;
    }
  }

  .counter {
    fill: #fff;
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .micro-counter {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (max-width: 540px) {
  #clock {
    @include flex(none);
    margin-bottom: auto;

    svg {
      display: none !important;
    }

    .micro-counter {
      display: block;
    }
  }
}
