@import '_mixins';

main {
  @include flex-display;
  @include flex-flow(column, nowrap);
  min-width: 35rem;
  height: 100%;

  > header {
    @include flex-display;
    @include flex-center;
    @include flex(none);
    padding: 2rem;
    background-color: #565656;

    h1 {
      color: #fff;
      font-size: 3rem;
      letter-spacing: -.1rem;
      line-height: 1.5;
      text-shadow: .2rem .4rem .3rem rgba(0, 0, 0, .3);
      vertical-align: middle;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  > section {
    @include flex-display;
    @include flex-center;
    @include flex(1 0 auto);
    padding: 2rem;

    aside {
      @include flex-display;
      @include flex-justify;
      @include flex-flow(column, nowrap);
      @include flex(1);
      height: 40rem;
      vertical-align: top;
    }
  }

  > footer {
    @include flex-display;
    @include flex-center;
    @include flex(none);
    padding: 2rem;
    color: #999;
    font-size: 1.2rem;
    background-color: #565656;

    a {
      display: inline-block;
      color: #999;
    }

    .copyright {
      @include flex(3 0);
      line-height: 2rem;

      .build-status {
        opacity: .5;
        vertical-align: middle;
        height: 1.8rem;
        margin-left: .5rem;
        -webkit-filter: grayscale(100%);

        &:hover {
          opacity: 1;
          -webkit-filter: grayscale(0%);
        }
      }
    }

    .social {
      @include flex(1 0);

      ul {
        @include flex-display;
        @include flex-left;
      }

      li {
        margin-left: 1rem;
        list-style: none;
      }

      a {
        img {
          width: 2rem;
          height: 2rem;
          opacity: .3;
          vertical-align: middle;

          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  main {
    > header {
      .container {
        @include flex-wrap(wrap);
      }
    }

    > section {
      .container {
        @include flex-left;
        @include flex-dir(column);
      }

      aside {
        @include flex-dir(row);
        margin: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}
