@import '_mixins';

#score {
  @include flex-display;
  @include flex-flow(column, nowrap);
  @include flex(3);
  color: #fff;

  > header {
    margin-bottom: 1rem;
  }

  > section {
    @include flex(1);
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    scrollbar-face-color: #2b2b2b;
    scrollbar-shadow-color: #404040;
    scrollbar-highlight-color: #404040;
    scrollbar-3dlight-color: #404040;
    scrollbar-darkshadow-color: #2d2c4d;
    scrollbar-track-color: #404040;
    scrollbar-arrow-color: #2b2b2b;

    table {
      margin: 1rem auto;
      width: 100%;

      td {
        color: #fff;
        font-size: 1.2rem;

        &:first-child {
          padding-left: 1rem;
          text-align: left;
        }

        &:last-child {
          padding-right: 1rem;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  #score {
    section {
      display: none;
    }
  }
}
